{% extends 'account/base.html' %}
{% block title %}OTP-verify{% endblock title %}
{% block contant %}

<div class="row">
    <div class="col">
    </div>
    <div class="col">
        {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning" role="alert">{{message}} </div>
                {% endfor %}
        {% endif %}
        <form action="" method="post" novalidate>
            <h2>OTP VERIFICATION:</h2>
            {% csrf_token %}
                {% for fm in form %}
                    {{fm.label_tag}} {{fm}} <span class="error">{{fm.errors|striptags}}</span><br>
                {% endfor %} 
            <input type="submit" class="btn btn-success" value="login">
        </form>
    </div>
    <div class="col">
    </div>
</div>

{% endblock contant %}