{% extends 'account/base.html' %}
{% block title %}Signin{% endblock title %}

{% block contant %}
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {% for fm in form %}
                    {{fm.label_tag}} {{fm}} <span class="error">{{fm.errors|striptags}}</span><br>
                {% endfor %}
                <input type="submit" class="btn btn-success" value="Signup"> <br>
                If already signin <a href="{% url 'account:login' %}">Click here</a> to login.
            </form>    
        </div>
        <div class="col">
        </div>
    </div>
{% endblock contant %}  
